.aboutBody {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 60px;
}
h1 {
  font-size: 40px;
}
.englishV {
  font-size: 35px;

  width: 60%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
