.projectsBody {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 90px;
}

.cardBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  width: 310px;
  height: 300px;
  border-radius: 20px;
  background-color: rgb(61, 61, 61, 0.9);
  transition: 0.8s;
}

.miniTitle {
  font-size: 27px;
  margin-top: 10px;
  color: white;
  cursor: default;
}
.cardBox:hover .miniDescription {
  opacity: 1;
}
.miniDescription {
  opacity: 0;
  cursor: default;
  text-align: center;
  font-size: 16px;
  color: white;
  transition: 0.6s;
}
.miniButtContainer {
  display: flex;
}
.miniButt {
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  margin: 15px;
  padding: 2px;
  border-radius: 10px;
  width: 115px;
  height: 40px;
  cursor: pointer;
  transition: 0.6s;
}
.miniButt:hover {
  color: rgb(34, 113, 25);
  box-shadow: 0 0px 15px rgb(72, 255, 0);
}
.cat {
  width: 25px;
  margin-right: 3px;
}
